---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Episode from "../components/Episode.astro";

import episodes from "../assets/episodes.js";
---

<Layout title="runningsoftware.systems">
	<Nav icon="👟" title="Running Software Systems" />
	<p class="text-center my-6">Oops... There's nothing here!</p>
</Layout>

<style>

</style>
