---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Episode from "../components/Episode.astro";
---
<Layout title="runningsoftware.systems">
	<Nav icon="👟" title="Running Software Systems"></Nav>
</Layout>
<h1 class="text-4xl text-center font-bold">Episodes</h1>
<style>
</style>
