---
import bannerImage from '../assets/running-silhouettes.svg';
export interface Props {
	subtitle: string;
	blurb: string;
}
const { subtitle, blurb } = Astro.props;
---
<div class="py-12 px-24 m-auto max-w-6xl flex gap-10">
  <div class="basis-3/5 pr-4">
    <h2 class="text-5xl pb-4 font-semibold">{subtitle}</h2>
    <p class="text-xl">{blurb}</p>
  </div>
  <div class="basis-2/5">
    <img class="w-full" src={bannerImage}>
  </div>
</div>