---
import ListenMenu from "./ListenMenu.astro";
export interface Props {
	icon: string;
	title: string;
}
const { title, icon } = Astro.props;
---
<nav class="w-full p-4 flex flex-row mb-4">
	<h1 style="text-shadow: 0px 0px 2px rgba(255,255,255,.2);" 
			class="from-slate-800 to-slate-600 bg-gradient-to-r p-2 pl-4 pr-6 rounded-lg flex-none font-bold text-2xl text-slate-100 shadow-lg">{icon} &ThickSpace;{title}</h1>
	<div class="pt-1 right-6 absolute">
			<ListenMenu></ListenMenu>
	</div>
</nav>
<style>
</style>
