---
import ListenMenu from "./ListenMenu.astro";
export interface Props {
	icon: string;
	title: string;
}
const { title, icon } = Astro.props;
---

<div class="from-white to-slate-400 bg-gradient-to-r shadow">
	<nav class="w-full p-4 flex flex-row mb-8">
		<div class="max-w-6xl mx-auto px-4">
			<div class="flex-col justify-between">
				<div class="flex flex-col space-y-4">
						<div>
							<h1 style="text-shadow: 0px 0px 2px rgba(255,255,255,.2);" 
					class="flex-none p-2 pl-4 pr-6 from-slate-800 to-slate-600 bg-gradient-to-r text-slate-100 font-bold text-l md:text-2xl lg:text-3xl rounded-lg shadow-lg">{icon} &ThickSpace;{title}</h1>		
						</div>			
					<!-- Primary Navbar items -->
					<div class="flex items-center space-x-1">
						<div class="m-auto flex-none ">
							<ListenMenu></ListenMenu>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<slot/>
</div>
<style>
</style>
